  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>看美女啦！</title>
    <link rel="stylesheet" type="text/css" href="../../bootstrap_refer/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../bootstrap_refer/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script type="text/javascript" src="../../bootstrap_refer/jquery.min.js"></script>
    <script type="text/javascript" src="../../bootstrap_refer/dist/js/bootstrap.min.js"></script>  
  </head>
  <body>
    <div class="container div_whole">
      <nav class="nav navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">看美女^~^</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="#">清凉美女</a></li>
            <li><a href="#">火爆美女</a></li>
            <li><a href="#">火爆美女</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">源代码地址</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站信息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">使用技术</a></li>
                <li><a href="#">关于作者</a></li>
                <li class="divider"></li>
                <li><a href="#">联系作者</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div id= "carousel_item" class="carousel-inner">
          
            <div class="item active">
              <div class="rows">
                <img class="col-lg-4 big_images" src="../../images/1.jpg" alt="900x500">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
            </div>
            <div class="item">
              <div class="rows">
                <img class="col-lg-4 big_images" src="../../images/2.jpg" alt="900x500">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
            </div>
            <div class="item">
              <div class="rows">
                <img class="col-lg-4 big_images" src="../../images/3.jpg" alt="900x500">
                <div class="carousel-caption">
                  ...
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
      <div>
    </div>
    </div>
  </body>
  </html>

    