<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>看美女啦！</title>    
    <link rel="stylesheet" type="text/css" href="../../bootstrap_refer/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../bootstrap_refer/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="./kind_template.css">
    <script type="text/javascript" src="../../bootstrap_refer/jquery.min.js"></script>
    <script type="text/javascript" src="../../bootstrap_refer/dist/js/bootstrap.min.js"></script>  
</head>
<body>
    <div id="whole" class="container div_whole">
        <div class="col-lg-3">
            <div id="masonry" class="container-fluid">
                <div  class="thumbnail"> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="col-lg-3">
            <div id="masonry" class="container-fluid">
                <div  class="thumbnail"> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="col-lg-3">
            <div id="masonry" class="container-fluid">
                <div  class="thumbnail"> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div>
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div>  
                </div> 

            </div>
        </div>
        <div class="col-lg-3">
            <div id="masonry" class="container-fluid">
                <div  class="thumbnail"> 
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>

                    </div>
                    <div id="images" class="imgs"> 
                        <img class="img-rounded" src="../../images/1.jpg" /> 
                    </div> 
                    <div class="caption">

                        <button id= "more_btn" type="button" class="btn btn-primary btn-block">点一点,能看到更多哦！</button>
                        <div class="btn_group btn-group ">
                            <button  type="button" class="btn_praise btn btn-success">赞一个</button>
                            <button  type="button" class="btn_step btn btn-warning">踩你</button>
                        </div>
                    </div>  
                </div> 
            </div>
        </div>

    </div>
</body>
</html>