<nav class="nav navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">看美女^~^</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/images/qingliang">清凉</a></li>
            <li><a href="/images/jingyang">惊艳</a></li>
            <li><a href="/images/luoli">萝莉</a></li>
            <li><a href="/images/cars">车模</a></li>
            <li><a href="/images/suren">素人</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">源代码地址</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站信息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">使用技术</a></li>
                <li><a href="#">关于作者</a></li>
                <li class="divider"></li>
                <li><a href="#">联系作者</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
