<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>看美女啦！</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  </head>
  <body>
    <div class="container div_whole">
      {% include 'header.html' %}
      <div class="div_box">
        <div id="wowslider-container1">
        <div class="ws_images">
          <ul>
            {% for i, pic in pics_path %}
            <li><img src="{{ pic }}" alt="206,101" title="206,101" id="wows1_{{ i }}"/></li>
            {% endfor %}
          </ul>
        </div>
      <div class="ws_bullets">
        <div>
          <a href="#wows1_0" title="206,101">1</a>
          <a href="#wows1_1" title="233,101">2</a>
          <a href="#wows1_2" title="233-101">3</a>
          <a href="#wows1_3" title="281,101">4</a>
          <a href="#wows1_4" title="74686-101">5</a>
          <a href="#wows1_5" title="78567-101">6</a>
          <a href="#wows1_6" title="79344,101">7</a>
        </div>
      </div>
      <a href="#" class="ws_frame"></a>
        <div class="ws_shadow"></div>
        </div>
    </div>
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script> 
      <script type="text/javascript" src="js/wowslider.js"></script>
      <script type="text/javascript" src="js/script.js"></script>
  
    </div>
  </body>
</html>

    